In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
from math import sqrt

#### Toolbox

In [19]:

def get_rolls(die, roll_size):
    rolls = np.random.choice(range(1,die+1), size = roll_size)
    return rolls

def roll(n_die,n_faces):
    return np.random.choice(range(1,n_faces+1), n_die).sum()

die_sizes = [4,6,8,10,12,20,100]
n_rolls = 10**5

In [20]:
roll(1,6)

4

#### 1.

How likely is it that you roll doubles when rolling two dice?

In [21]:


for d in die_sizes:
    faces = range(1,d+1)
    rollSize = (n_rolls, 2)
    rolls = np.random.choice(faces, rollSize)
    chance = (np.diff(rolls, axis=1) == 0).mean()
    print("D{}: {:.1%}".format(d, chance))

D4: 25.0%
D6: 16.8%
D8: 12.5%
D10: 10.0%
D12: 8.4%
D20: 5.0%
D100: 1.0%

##### work

In [51]:
d = 4
rolls = np.random.choice(range(1,d+1), size = (n_rolls, 2 ))
rolls

array([[1, 1],
       [3, 2],
       [1, 4],
       ...,
       [3, 2],
       [1, 2],
       [3, 1]])

In [54]:
(np.diff(rolls, axis=1) == 0).mean()

0.24985

In [38]:
pd.DataFrame(rolls).apply(lambda row: row[0] == row[1], axis = 1).mean()

0.24882


#### 2.

 
If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [22]:
flips = np.random.choice([0,1], size = (n_rolls, 8))
flips_sum = flips.sum(axis=1)
exactly_3 = (flips_sum == 3).mean()
more_3 = (flips_sum > 3).mean()
print("Exactly 3: {:.1%}".format(exactly_3))
print("More than 3: {:.1%}".format(more_3))

Exactly 3: 21.8%
More than 3: 63.9%


#### 3.

There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

In [83]:
#Assuming 'data science students' is meant to be 'data science cohorts'

pool = ['wd']*3 + ['ds']
billboards = np.random.choice(pool, (n_rolls, 2))
ds_billboards = billboards == 'ds'
both_ds_billboards = ds_billboards.sum(axis=1) == 2
probability = both_ds_billboards.mean()
odds = (probability / (1 - probability))
print("Odds = {:.1%}".format(odds))
print("Chance = {:.1%}".format(probability))

Odds = 6.7%
Chance = 6.3%


#### 4.

Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon? (Remember, if you have mean and standard deviation, use the np.random.normal) You'll need to make a judgement call on how to handle some of your values

In [23]:
mu, sigma = 3, 1.5
poptarts = np.random.normal(mu, sigma, (n_rolls, 5))
poptarts_remaining = 17 - poptarts.round().sum(axis=1)
likelyhood = (poptarts_remaining >= 1).mean()
"{:.1%}".format(likelyhood)

'67.0%'


#### 5.

Compare Heights

 - Men have an average height of 178 cm and standard deviation of 8cm.
 - Women have a mean of 170, sd = 6cm.
 - Since you have means and standard deviations, you can use np.random.normal to generate observations.
 - If a man and woman are chosen at random, what is the likelihood the woman is taller than the man?

In [94]:
mmu, msigma = 178, 8
wmu, wsigma = 170, 6
men = np.random.normal(mmu, msigma, n_rolls)
women = np.random.normal(wmu, wsigma, n_rolls)
diff = women - men
chance = (diff > 0).mean()
"{:.1%}".format(chance)

'21.2%'


#### 6.

When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails. What are the odds that after having 50 students download anaconda, no one has an installation issue? 100 students?

What is the probability that we observe an installation issue within the first 150 students that download anaconda?

How likely is it that 450 students all download anaconda without an issue?

In [104]:
six_a = np.random.choice([True,False], (n_rolls, 50 ), p=[249/250,1/250])
six_a_flawless = six_a.mean(axis=1) == 1
six_a_flawless.mean()

0.81636

In [105]:
six_b = np.random.choice([True,False], (n_rolls, 100 ), p=[249/250,1/250])
six_b_flawless = six_b.mean(axis=1) == 1
six_b_flawless.mean()

0.67004

In [106]:
six_c = np.random.choice([True,False], (n_rolls, 150 ), p=[249/250,1/250])
six_c_flawless = six_c.mean(axis=1) == 1
1- six_c_flawless.mean()

0.44887999999999995

In [107]:
six_d = np.random.choice([True,False], (n_rolls, 450 ), p=[ 249/250, 1/250 ])
six_d_flawless = six_d.mean(axis=1) == 1
six_d_flawless.mean()

0.1643


#### 7.

There's a 70% chance on any given day that there will be at least one food truck at Travis Park. However, you haven't seen a food truck there in 3 days. How unlikely is this?

How likely is it that a food truck will show up sometime this week?

In [114]:
truck_arrival = np.random.choice([True,False], (n_rolls, 3), p=(.7, .3))
no_trucks = truck_arrival.sum(axis=1) == 0
no_trucks.mean()

0.02755

In [115]:

truck_this_week = np.random.choice([True,False], (n_rolls, 4), p=(.7, .3)) #After waiting 3 days only 4 days remain in the week.
truck_arrives = truck_arrival.sum(axis=1) > 0
truck_arrives.mean()

0.97245

#### 8.

If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?

In [24]:
days = range(1, 366)

twoThree = np.random.choice(days, (n_rolls, 23))
twoZero = np.random.choice(days, (n_rolls, 20))
fourZero = np.random.choice(days, (n_rolls, 40))

In [25]:
def get_if_bday_shared_by_group(matrix):
    #Check if removing duplicates changes the length of a row
    return  np.apply_along_axis(lambda x: len(x) != len(np.unique(x)), axis=1, arr=matrix)

In [26]:
get_if_bday_shared_by_group(twoThree).mean()

0.50761

In [27]:
get_if_bday_shared_by_group(twoZero).mean()

0.41273

In [29]:
get_if_bday_shared_by_group(fourZero).mean()

0.89007

-------------------

### Bonus scratchpad

In [194]:
def mageduel(x):
    df = pd.DataFrame()

    df['hp1'] = pd.DataFrame(np.random.randint(1,5, size= (x, 6)).sum(axis=1))
    df['damage1'] = pd.DataFrame(np.random.randint(1,5, size= (x, 6)).sum(axis=1))
    df['hp2'] = pd.DataFrame(np.random.randint(1,7, size= (x, 4)).sum(axis=1))
    df['damage2'] = pd.DataFrame(np.random.randint(1,7, size= (x, 4)).sum(axis=1))

    return df
    
def winner(row):
    # return False
    first_round =  row[2] - row[1]
    second_round = row[0] - row[3]
    # return first_round
    if  first_round <= 0:
        return True
    elif first_round > 0:
        if second_round < 0:
            return False

In [197]:
duels= mageduel(20)

duels['Win'] = duels.apply(winner, axis=1)
duels

    hp1  damage1  hp2  damage2    Win
0    21       13   18       13   None
1    10       14   17       12  False
2    12       18   15       15   True
3    10       10   12       14  False
4    15       17   13       12   True
5    20       13   13       12   True
6    16       14    8       20   True
7    15       11   17       19  False
8    11       18   13       12   True
9    16       18    9       14   True
10   13       15   11       13   True
11   12       11   20       18  False
12   16       17   17       11   True
13   13       16    9       14   True
14   11       20   13       16   True
15   12       14   12       13   True
16   14       16   13       13   True
17   13       11   16       14  False
18   16       12   17       15   None
19   14       15    6       21   True

In [ ]:
def damage_roll(wizard):
    if 1:
        4d6
    if 2:
        6d4

DF= [[hp1,hp2],
        [10,12]]

df duel (row):
    While both standing
        Deal damage and update hP

new column = DF.apply(duel, axis=1)

In [34]:
def roll(n_die,n_faces):
    return np.random.choice(range(1,n_faces+1), n_die).sum()

def mageduel(x):
    df = pd.DataFrame()
    df["hp1"] = pd.DataFrame(np.random.randint(1,5, size= (x, 6)).sum(axis=1))
    # df['damage1'] = pd.DataFrame(np.random.randint(1,5, size= (x, 6)).sum(axis=1))
    df['hp2'] = pd.DataFrame(np.random.randint(1,7, size= (x, 4)).sum(axis=1))
    # df['damage2'] = pd.DataFrame(np.random.randint(1,7, size= (x, 4)).sum(axis=1))
    return df


    
def winner(row):
    # Record the starting HPs
    wiz1_hp = row[0]
    wiz2_hp =  row[1]

    # Keep fighting until someone goes down
    while wiz1_hp > 0 and wiz2_hp > 0:
        wiz1_hp -= roll(6,4)
        wiz2_hp -= roll(4,6)
    
    # Since wiz1 goes first, if wiz 2 is down he wins.  Otherwise he loses
    if wiz2_hp <= 0:
        return 'Wizard 1'
    else:
        return 'Wizard 2'

mageduel(5).apply(winner, axis=1)

In [35]:
fight = mageduel(3)
fight

   hp1  hp2
0   18   16
1   17   20
2   13   18

In [37]:
mageduel(5).apply(winner, axis=1)

0    Wizard 2
1    Wizard 2
2    Wizard 1
3    Wizard 2
4    Wizard 1
dtype: object